# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pvsconfig
*.code-workspace
.python-version
.venv/
venv/
env/
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# App artifacts
*.mp4
*.avi
*.mkv
